{% extends "layout.jinja2" %}

{% block content%}
<div class="content">
    <form action="{{request.route_path('collab_action', action='filter')}}" method="post" enctype="multipart/form-data">
        <label for="User-ID">Logged in as user:</label>
        <input type="text" name="User-ID" value="276747">
        <br>
        <label for="ISBN">Viewing the book:</label>
        <input type="text" name="ISBN" value="0060517794">{# "0060517794" #}
        <input type="submit" id="filter" value="filter">
    </form>

    <hr>

    {% if action == 'filter' %}
        <h2>{{ selectedBook['Book-Title'] }}</h2>

        <img src={{ selectedBook['Image-URL-M'] }} alt="bookcover">
        <p>{{ selectedBook['Book-Author'] }}</p>
        <p>{{ selectedBook['Year-Of-Publication'] }}</p>
        <p>{{ selectedBook['Publisher'] }}</p>

        <hr>

        <h2>Book recommended to you</h2>
        <h3>{{ recommendedBook['Book-Title'] }}</h3>

        <img src={{ recommendedBook['Image-URL-M'] }} alt="bookcover">
        <p>{{ recommendedBook['Book-Author'] }}</p>
        <p>{{ recommendedBook['Year-Of-Publication'] }}</p>
        <p>{{ recommendedBook['Publisher'] }}</p>

    {% else %}
        <h2>Cold start recommendation. A book from the top 10%</h2>
        <h3>{{ coldbookinfo['Book-Title'] }}</h3>

        <img src={{ coldbookinfo['Image-URL-M'] }} alt="bookcover">
        <p>{{ coldbookinfo['Book-Author'] }}</p>
        <p>{{ coldbookinfo['Year-Of-Publication'] }}</p>
        <p>{{ coldbookinfo['Publisher'] }}</p>
    {% endif %}
</div>
{% endblock content %}
