{% extends "layout.jinja2" %}

{% block content%}
<div class="content">
    {% for selectedBook in top_books %}
        <form method="post" action="{{request.route_path('collab_action', action='filter')}}" >
            <input type="hidden" name="ISBN" value={{top_books[selectedBook]['Book-ISBN']}} >
            <input type="hidden" name="User-ID" value="276747">
            <button class="link-button" value={{top_books[selectedBook]['Book-Title']}}><p>{{top_books[selectedBook]['Book-Title']}}</p></button>
        </form>
    {% endfor %}

</div>


{% endblock content %}